<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
    <title>OCM- {{ title }} </title>
    {% else %}
    <title>OCM</title>
    {% endif %}
</head>
<body>

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link {{ 'active' if active_page == 'home' else '' }}" href="{{ url_for('main.home') }}">Home</a>
                    <a class="nav-item nav-link {{ 'active' if active_page == 'account' else '' }}" href="{{ url_for('main.account') }}">Account</a>

                    <div class="btn-group">
                        <div class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Services</div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('main.services') }}">Loading analysis</a>
                            <a class="dropdown-item" href="#">Aerial make ready review and solutions</a>
                            <a class="dropdown-item" href="#"> CAD services</a>
                            <a class="dropdown-item" href="#">GIS data entry and management</a>
                            <a class="dropdown-item" href="#">Work order designs</a>
                            <a class="dropdown-item" href="#"> Permitting preparation services</a>
                            <a class="dropdown-item" href="#"> Consulting </a>
                        </div>
                    </div>

                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                        <a class="nav-item nav-link {{ 'active' if active_page == 'projects' else '' }}" href="{{ url_for('projects.get_projects') }}">Projects</a>
                    {% else %}
                        <a class="nav-item nav-link {{ 'active' if active_page == 'login' else '' }}" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link {{ 'active' if active_page == 'register' else '' }}" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                    <a class="nav-item nav-link {{ 'active' if active_page == 'careers' else '' }}" href="{{ url_for('main.careers') }}">Careers</a>

                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>