<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
    <title>Conexus Solution - {{ title }} </title>
    {% else %}
    <title>Conexus Solution</title>
    {% endif %}
</head>

<!--<body style="background-color : #8c8c8c">-->
    {% if  active_page == 'home' %}
    <body style="background:transparent url(static/paysage.png) repeat center center /cover">
    {% else %}
    <body >
    {% endif %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">
                <img src="{{ url_for('static', filename='conexus-logo.png') }}" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link {{ 'active' if active_page == 'home' else '' }}" href="{{ url_for('main.home') }}">Home</a>
                    <a class="nav-item nav-link {{ 'active' if active_page == 'services' else '' }}" href="{{ url_for('main.services') }}">Services</a>
                    <a class="nav-item nav-link {{ 'active' if active_page == 'contact' else '' }}" href="{{ url_for('main.contact') }}">Contact</a>

                </div>
                <!-- Navbar Right Side -->
                <!--
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                        <a class="nav-item nav-link {{ 'active' if active_page == 'projects' else '' }}" href="{{ url_for('projects.get_projects') }}">Projects</a>
                    {% else %}
                        <a class="nav-item nav-link {{ 'active' if active_page == 'login' else '' }}" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link {{ 'active' if active_page == 'register' else '' }}" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                    <a class="nav-item nav-link {{ 'active' if active_page == 'careers' else '' }}" href="{{ url_for('main.careers') }}">Careers</a>

                </div>
                -->

            </div>
        </div>
    </nav>
</header>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

</div>

 <footer id="foot-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p id="cp-right">&copy; Conexus Solution 2020</p>
                </div>
                <div class="col-md-6">
                    <h4 class="hd-lst">Services</h4>
                    <ul class="bt-lst">
                        <li>Electric Distribution and transmission design engineering</li>
                        <li>FOC Engineering Design</li>
                        <li>Wireless Network Design Services</li>
                        <li>Consulting</li>
                    </ul>
                </div>
                <div class="col-md-3 mt-10">
                    <h4><a class="hd-lst" href="{{ url_for('main.contact') }}">Contact us</a></h4>
                    <ul class="bt-lst">
                        <li>Email:info@conexussolution.com</li>
                        <li>+1 (317)6145648</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>