{% extends "base.html" %}
{% set active_page = 'contact' %}
{% block title %} Contact Us {% endblock %}
{% block content %}

<div class="container">
    <h3 class="display-4 sv-title">Contact us</h3>
    <form method="POST" action="contactus">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{form.name.label}}
            {{form.name(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.subject.label}}
            {{form.subject(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.message.label}}
            {{form.message(class="form-control", rows="4")}}
        </div>
        {{ form.submit(class="btn btn-info form-control") }}
    </form>
</div>


{% endblock content %}
