{% extends "base.html" %}
{% block title %} Example {% endblock %}
{% block content %}

<select name="client" id="client"  >

    {% for client in clients %}

    <option value="{{client}}" {% if client == selected %} selected="{{ selected }}" {% endif %}>{{client}}</option>

    {% endfor %}

</select>


<form method="POST" action="">
    {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">

            {% if field.type != 'SubmitField' %}
                {{ field.label(class="form-control-label") }}
                {{ field(class="form-control  form-control-lg") }}
            {% else %}
                {{ field(class="btn btn-outline-info") }}
            {% endif %}
        </div>
        {% endfor %}

</form>

<script>
    let select_client = document.getElementById('client');
    select_client.onchange = function(){
        var client = select_client.value;
<!--        window.location = "{{ url_for('example', name='Comcast') }}";-->
        window.location = "http://localhost:5000/example" +"/"+client;

    }
</script>




{% endblock %}



