{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}

<h2>Project Details</h2>
<table style="width:50%">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td><b>Name</b></td>
        <td>4444</td>
    </tr>
    <tr>
        <td><b>Case</b></td>
        <td>{{ case }}</td>
    </tr>
</table>
<br>
<div>
<form id="upload-form" action="{{ url_for('upload', case=case) }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" multiple>
    <input type="submit" value="upload">
</form>
</div>

<br><br>
<di>
    <form method="POST" action="/assign">
        <select name="user">
            {% for email, user in users.items() %}
            <option value="{{email}}">{{user}}</option>
            {% endfor %}

        </select>
        <input type="hidden" value="{{ case }}" name="case" />
        <input type="submit" value="assign">

    </form>
</di>

{% endblock %}


