{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Project Details</h4>
            <h6 class="card-subtitle">Assigned To: {{ proj['assignee'] }}</h6>
            <br>
            <table style="width:50%">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td><b>Project #</b></td>
                    <td>{{ proj['Project #'] }}</td>
                </tr>
                <tr>
                    <td><b>County</b></td>
                    <td>{{ proj['County'] }}</td>
                </tr>
                <tr>
                    <td><b>City</b></td>
                    <td>{{ proj['City'] }}</td>
                </tr>
            </table>
            <br>
            <div>
                <form id="upload-form" action="{{ url_for('main.upload', case=case) }}" method="post"
                      enctype="multipart/form-data">
                    <input type="file" name="file" multiple>
                    <input type="submit" value="upload" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>

<br><br>
<di>
    <form method="POST" action="/assign">
        <select name="user">
            {% for email, user in users.items() %}
            <option value="{{email}}">{{user}}</option>
            {% endfor %}

        </select>
        <input type="hidden" value="{{ case }}" name="case" />
        <input type="submit" value="assign" class="btn btn-info">

    </form>
</di>

{% endblock %}


