{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}

<a href="{{ url_for('add_project') }}"> <button class="btn btn-info">Add Project</button></a>
<br><br>
<table class="table table-dark" >
    <tr>
        <th>ID</th>
        <th>Jur</th>
        <th>Name</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td><a href="{{ url_for('project', index=emp.id) }}">{{ emp.id }}</a></td>
        <td>{{ emp.code }}</td>
        <td>{{ emp.name }}</td>
        <td><a href="{{ url_for('del_project', index=emp.id) }}"> delete</a>
        <td><a href="#"> Send Email</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

