{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9">

            <a href="{{ url_for('projects.add_project') }}">
                <button class="btn btn-info">Add Project</button>
            </a>

            <br><br>
<table class="table table-dark table-bordered" >
    <tr>
        <th>Client</th>
        <th>Project #</th>
        <th>Created</th>
    </tr>
    {% for project in all_projects %}
    <tr>
        <td>{{ project['client'] }}</td>
        <td><a href="{{ url_for('projects.project', case=project['project']) }}"> {{ project['project'] }}</a></td>
        <td> {{ project['created_at'].strftime('%m/%d/%Y %H:%M:%S') }}</td>
        <td><a href="{{ url_for('projects.del_project', case=project['case'])}}"> delete</a>   <!--  del_project/case -->
        </td>
    </tr>
    {% endfor %}
</table>

       <div>
            <nav arial-label="Chapter Links">
                <ul class="pagination justify-content-end">
                    <li  class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{ url_for('projects.get_projects', page=(page-1)) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a></li>

                    {% for i in range(begin,end+1, 1) %}
                    <li class="page-item {% if page == i %} active {% endif %}"><a class="page-link" href="{{ url_for('projects.get_projects', page=i) }}">{{ i }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if (begin+2) == end %} disabled {% endif %}"><a class="page-link" href="{{ url_for('projects.get_projects', page=(page+1)) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a></li>

                </ul>
            </nav>
        </div>
        </div>
        <div class="col-3">

            <h6>Projects Summary</h6>
            <ul class="list-group">
                 {% for k, v in pcount.items() %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('projects.projects_by_client', client_name=k) }}">{{ k }}</a>

                    <span class="badge badge-primary badge-pill">{{ v }}</span>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>


{% endblock %}

