{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}

<a href="{{ url_for('add_project') }}"> <button class="btn btn-info">Add Project</button></a>
<br><br>
<table class="table table-dark" >
    <tr>
        <th>Code</th>
        <th>Client</th>
        <th>County</th>
        <th>municipality</th>
    </tr>
    {% for project in projects %}
    <tr>
<!--        <td><a href="{{ url_for('project', index=project.id) }}">{{ project.id }}</a></td>-->
        <td><a href="#"> {{ project.code }}</a></td>
        <td>{{ project.client }}</td>
        <td>{{ project.county }}</td>
        <td>{{ project.municipality }}</td>
        <td><a href="{{ url_for('del_project', index=project.id) }}"> delete</a>
        <td><a href="#"> Send Email</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

