{% extends "base.html" %}
{% set active_page = 'services' %}
{% block content %}


<div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">ELECTRIC DISTRIBUTION AND TRANSMISSION LINE DESIGN</h3>
            <ul class="bt-lst">
                <li>Overhead and Underground Line Design
                    <ul>
                        <li>Structure design: wood, concrete, steel, laminated, composite</li>
                        <li>Code analysis</li>
                        <li>Conductor sag analysis and design</li>
                        <li>System expansion</li>
                        <li>Road widening relocation design</li>
                        <li>Overhead to underground conversion design</li>
                        <li>Distribution under-build design</li>
                    </ul>
                </li>
                <li>Line hardening and resiliency design</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">TELECOMMUNICATION ENGINEERING DESIGN</h3>
              <ul class="bt-lst">
                <li>Overhead and Underground line design</li>
                <li>Joint use engineering: Make ready analysis and solutions</li>
              </ul>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">CONSTRUCTION MANAGEMENT SERVICES</h3>
              <ul class="bt-lst">
                <li>Preconstruction consultation</li>
                <li>Value engineering</li>
                <li>Scheduling</li>
                <li>Material procurement</li>
                <li>Project management</li>
                <li>Construction inspection</li>
                <li>Budget development and monitorization</li>
              </ul>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">CAD/GIS SERVICES</h3>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">RIGHT-OF-WAY and EASEMENT PROCUREMENT</h3>
        </div>
        <div class="col-md-2"></div>
    </div>


      <div class="row">
          <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">WIRELESS NETWORK DESIGN SERVICES</h3>
            <ul class="bt-lst">
                <li>Radio and Microwave network design
                    <ul>
                        <li>Path profiling</li>
                        <li>Performance prediction/analysis</li>
                        <li>Interface analysis</li>
                        <li>Frequency band selection and coordination</li>
                        <li>Loss/Attenuation Calculations</li>
                        <li>Equipment selection</li>
                    </ul>
                </li>
                <li>Network Design Consulting services
                    <ul>
                        <li>Feasibility studies</li>
                        <li>Solution development</li>
                        <li>Implementation and integration planning</li>
                        <li>Problem and opportunity assessment</li>
                    </ul>
                </li>
            </ul>
        </div>
          <div class="col-md-2"></div>
      </div>
        <div class="row">
            <div class="col-md-2"></div>
          <div class="col-md-8">
            <h3 class="sv-title">CONSULTING</h3>
              <ul class="bt-lst">
                <li>Joint Use Utilities consulting</li>
                <li>Facility management</li>
                <li>Permitting preparation services</li>
            </ul>
        </div>
            <div class="col-md-2"></div>
    </div>



</div>


{% endblock content %}
