{% extends "base.html" %}
{% set active_page = 'services' %}
{% block content %}


<div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h3 class="sv-title">Electric Distribution and transmission design engineering</h3>
            <ul class="bt-lst">
                <li>Transmission and Distribution line review and Engineering</li>
                <li>Line hardening and resiliency</li>
                <li>Work order design</li>
                <li>ROW and Relocation design</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="sv-title">FOC Engineering Design</h3>
         <ul class="bt-lst">
                <li>Aerial and Underground Design</li>
                <li>joint Use Engineering: Review and solutions</li>
                <li>CAD/GIS Services</li>
            </ul>
        </div>
    </div>

      <div class="row">
        <div class="col-md-6">
            <h3 class="sv-title">Consulting</h3>
            <ul class="bt-lst">
                <li>JUA Consulting</li>
                <li>Easement acquisition</li>
                <li>ROW Relocation</li>
                <li>Permitting preparation services</li>
            </ul>
        </div>
          <div class="col-md-6">
            <h3 class="sv-title">Wireless Network Design Services</h3>
              <ul class="bt-lst">
                <li>Wireless network design services for all outdoor and all indoor configured microwave PTP link </li>
                <li>Network design services for panel style and dish style antennas in microwave PTP link</li>
                <li>Antenna selection and assistance for microwave PTP link</li>
                <li>Assistance with determining polarization benefits for each microwave PTP link</li>
            </ul>
        </div>
    </div>



</div>


{% endblock content %}
