{% extends "base.html" %}
{% set active_page = 'services' %}
{% block content %}


<div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">Electric Distribution and transmission design engineering</h3>
            <ul class="bt-lst">
                <li>Overhead & Underground line design</li>
                <li>Line hardening and resiliency design</li>
                <li>Work order design</li>
                <li>Construction project management and design order process</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">FOC Engineering Design</h3>
         <ul class="bt-lst">
                <li>Aerial and underground Design</li>
                <li>Joint Use Engineering: Make ready review and solutions</li>
                <li>CAD/ GIS Services</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>

      <div class="row">
          <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="sv-title">Wireless Network Design Services</h3>
            <ul class="bt-lst">
                <li>Radio and Microwave network design</li>
                <li>Network Design Consulting services</li>
            </ul>
        </div>
          <div class="col-md-2"></div>
      </div>
        <div class="row">
            <div class="col-md-2"></div>
          <div class="col-md-8">
            <h3 class="sv-title">Consulting</h3>
              <ul class="bt-lst">
                <li>JUA Consulting</li>
                <li>Easement acquisition</li>
                <li>Facility Management</li>
                <li>Permitting preparation Services</li>
            </ul>
        </div>
            <div class="col-md-2"></div>
    </div>



</div>


{% endblock content %}
