{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}
    <h1>Welcome to OCM Tracker!</h1>
    <p>
        This is the demo app
        <em>Getting Started with Flask</em>
        on <a href="https://pluralsight.com">Pluralsight</a>
    </p>
        <div>
            <h2>Aerostructures</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>


{% endblock %}