{% extends "base.html" %}
{% block title %} All Projects {% endblock %}
{% block content %}

<h2>Project Details</h2>
<table style="width:50%">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td><b>Name</b></td>
        <td>{{ emp.name }}</td>
    </tr>
    <tr>
        <td><b>Code</b></td>
        <td>{{ emp.code }}</td>
    </tr>
</table>
<br>
<div>
<form id="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" multiple>
    <input type="submit" value="upload">
</form>

</div>

{% endblock %}


